* { font-family: "맑은 고딕"; margin:0; padding:0; box-sizing:border-box;}
body { width:100%; height:100%; margin:0; padding:0;border:0; letter-spacing:0; background:#fff;}
li { list-style:none; text-decoration:none;}
a {  text-decoration:none; list-style:none; color:#000;}
img { border:none; display:block;}
table { border-spacing:0; border-collapse:collapse;}

.main_header{
	float: left; 
	width: 100%; 
	padding: 5%; 
	font-family: STHupo; /*폰트 적용 안되어 있음*/
	font-size: 28px; 
	font-weight: normal;
	line-height: 1.04; 
	color: #34cea1;
}

.main_deliver_wrap{
	float: left;
	width: 100%;
	height: 212px; /*height, margin px->%로 수정? */
	margin-top: 40px;
	margin-bottom: 60px;
	background: #34cea1;
	border-radius: 5px;
	padding: 39px 0 4.8px 28px;
	box-shadow: 0 0 10px 0 rgba(121, 121, 121, 0.16);
}

.main_deliver_top_letter{
	width: 20%;
	margin-right: 22px;
	margin-bottom: 18px;
	font-family: NotoSansCJKkr;
	font-size: 26px;
	font-weight: bold;
	color: #fff;
}

.main_deliver_bottom_letter{
  width: 168px;
  height: 40px;
  margin: 18px 31px 32.1px 0;
  font-family: NotoSansCJKkr;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}

.main_deliver_img_wrap{
	position: relative;
	width: 21%;
	margin-left: 220px;
	margin-top: -125px;
}

.main_deliver_img{
}

.main_deliver_btn{
	width: 45%;
	height: 41px;
	margin-bottom: 10%;
	background-color: #1a795d;
	padding: 7.9px 25px 10px 24px;
	color: #fff;
	font-size: 16px;
	font-family: NotoSansCJKkr;
	font-weight: bold;
	border: none;
}

/* 배달요청 */
.main_request_wrap{
	float: left;
	width: 100%;
	height: 212px; /*height, margin px->%로 수정? */
	margin-top: 40px;
	margin-bottom: 60px;
	background: #ecaaaa;
	border-radius: 5px;
	padding: 39px 0 4.8px 28px;
	box-shadow: 0 0 10px 0 rgba(121, 121, 121, 0.16);
}

.main_request_top_letter{
	width: 30%;
	margin-right: 22px;
	margin-bottom: 18px;
	font-family: NotoSansCJKkr;
	font-size: 26px;
	font-weight: bold;
	color: #fff;
}

.main_request_bottom_letter{
  width: 200px;
  height: 40px;
  margin: 18px 31px 32.1px 0;
  font-family: NotoSansCJKkr;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}

.main_request_img_wrap{
	position: relative;
	width: 21%;
	margin-left: 220px;
	margin-top: -100px;
}

.main_request_img{
}

.main_request_btn{
	width: 45%;
	height: 41px;
	margin-top: 7%;
	margin-bottom: 10%;
	background-color: #c95454;
	padding: 7.9px 25px 10px 24px;
	color: #fff;
	font-size: 16px;
	font-family: NotoSansCJKkr;
	font-weight: bold;
	border: none;
}

/* 주문내역 */
.main_request_history_wrap{
	float: left;
	width: 100%;
	height: 212px; /*height, margin px->%로 수정? */
	margin-top: 40px;
	margin-bottom: 60px;
	background: #fff;
	border-radius: 5px;
	padding: 39px 0 4.8px 28px;
	box-shadow: 0 0 10px 0 rgba(121, 121, 121, 0.16);
}

.main_request_history_top_letter{
	width: 30%;
	margin-right: 22px;
	margin-bottom: 18px;
	font-family: NotoSansCJKkr;
	font-size: 26px;
	font-weight: bold;
	color: #383838;
}

.main_request_history_bottom_letter{
  width: 200px;
  height: 40px;
  margin: 18px 31px 32.1px 0;
  font-family: NotoSansCJKkr;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: #383838;
}

.main_request_history_img_wrap{
	position: relative;
	width: 21%;
	margin-left: 220px;
	margin-top: -100px;
}

.main_request_history_img{
}

.main_request_history_btn{
	width: 50%;
	height: 41px;
	margin-top: 7%;
	margin-bottom: 10%;
	background-color: #383838;
	padding: 7.9px 25px 10px 24px;
	color: #fff;
	font-size: 16px;
	font-family: NotoSansCJKkr;
	font-weight: bold;
	border: none;
}


/* 픽업내역 */
.main_pickup_history_wrap{
	float: left;
	width: 100%;
	height: 212px; /*height, margin px->%로 수정? */
	margin-top: 40px;
	margin-bottom: 60px;
	background: #979797;
	border-radius: 5px;
	padding: 39px 0 4.8px 28px;
	box-shadow: 0 0 10px 0 rgba(121, 121, 121, 0.16);
}

.main_pickup_history_top_letter{
	width: 30%;
	margin-right: 22px;
	margin-bottom: 18px;
	font-family: NotoSansCJKkr;
	font-size: 26px;
	font-weight: bold;
	color: #fff;
}

.main_pickup_history_bottom_letter{
  width: 200px;
  height: 40px;
  margin: 18px 31px 32.1px 0;
  font-family: NotoSansCJKkr;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}

.main_pickup_history_img_wrap{
	position: relative;
	width: 21%;
	margin-left: 220px;
	margin-top: -100px;
}

.main_pickup_history_img{
}

.main_pickup_history_btn{
	width: 50%;
	height: 41px;
	margin-top: 7%;
	margin-bottom: 10%;
	background-color: #565656;
	padding: 7.9px 25px 10px 24px;
	color: #fff;
	font-size: 16px;
	font-family: NotoSansCJKkr;
	font-weight: bold;
	border: none;
}