* { font-family: "맑은 고딕"; margin:0; padding:0; box-sizing:border-box;}
body { width:100%; height:100%; margin:0; padding:0;border:0; letter-spacing:0; background:#fff;}
li { list-style:none; text-decoration:none;}
a {  text-decoration:none; list-style:none; color:#000;}
img { border:none; display:block;}
table { border-spacing:0; border-collapse:collapse;}


/* 거리순, 팁순 */
.history_header_wrap { 
	float: left; 
	width: 100%; 
	height: 70px; /* 퍼센트로 수정? */
	background: #34cea1;
}

.history_wait{
	position: relative;
	float: left;
	width: 33.3%;
	height: 90px; /* 70px로 수정시 img, letter 변경필요 */
}

.history_wait_img{
	position: absolute;
	width: 30px; /* 퍼센트로 수정? */
	height: 30px; /* 퍼센트로 수정? */
	margin-left: 33.3%;
	margin-top: 12px;
	opacity: 0.8;
}

.history_wait_letter{
  width: 38px;
  height: 20px;
  margin-left: 30%;
  margin-top: 47px;
  opacity: 0.9;
  font-family: NotoSansCJKkr;
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  color: #272727;
}

.history_ing{
	position: relative;
	float: left;
	width: 33.3%;
	height: 90px;
}

.history_ing_img{
	position: absolute;
	width: 37px; /* 퍼센트로 수정? */
	height: 37px; /* 퍼센트로 수정? */
	margin-left: 35%;
	margin-top: 10px;
	opacity: 0.7;
}

.history_ing_letter{
  width: 26px;
  height: 20px;
  margin-left: 40%;
  margin-top: 47px;
  opacity: 0.9;
  font-family: NotoSansCJKkr;
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  color: #272727;
}

.history_ed{
  position: relative;
  float: right;
  width: 33.3%;
  height: 90px;
}

.history_ed_img{
  position: absolute;
  width: 32px; /* 퍼센트로 수정? */
  height: 32px; /* 퍼센트로 수정? */
  margin-left: 35%;
  margin-top: 10px;
  opacity: 0.7;
}

.history_ed_letter{
  width: 37px;
  height: 20px;
  margin-left: 34%;
  margin-top: 47px;
  opacity: 0.9;
  font-family: NotoSansCJKkr;
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  color: #272727;
}

.history_menu_wrap{
	position: relative;
	float: left;
	width: 100%;
	height: 33%; /*퍼센트로 수정?*/
}

.history_menu_center_wrap{
	height: 190px;
	margin-top: 7%;
	margin-bottom: 15px;
	margin-left: 40px; /*조정?*/
	margin-right: 40px;
}

.history_menu_center_box{
	position: relative;
	width: 80px;
	height: 80px;
	margin-top: 30px;
	border-radius: 5px;
	background: #34cea1;
}

.history_menu_center_img{
	position: absolute;
	right: 0px;
	bottom: 0px;
	width: 53px;
	height: 53px;	
	opacity: 0.9;
}

/* PU 편의점 배달 */
.history_menu_center_top_letter{ 
  width: 50%;
  height: 20px;
  margin-left: 40%;
  margin-top: -50px;
  font-family: NotoSansCJKkr;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.45;
  letter-spacing: normal;
  text-align: center;
  color: #707070;
}

/* 출발지: */
.history_menu_center_bottom_letter_1{
  width: 48px;
  height: 24px;
  margin-left: 5px;
  margin-top: 20%;
  font-family: NotoSansCJKkr;
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #707070;
}

/* 전라북도~ */
.history_menu_center_bottom_letter_2{
  width: 232px;
  height: 24px;
  margin-left: 25px;
  margin-top: -25px;
  font-family: NotoSansCJKkr;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #707070;
}

/* 도착지: */
.history_menu_center_bottom_letter_3{
  width: 48px;
  height: 24px;
  margin-left: 5px;
  margin-top: -5px;
  font-family: NotoSansCJKkr;
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #707070;
}

/* 광주~ */
.history_menu_center_bottom_letter_4{
  width: 232px;
  height: 24px;
  margin-top: -24px;
  margin-left: 13px;
  margin-right: 33px;
  font-family: NotoSansCJKkr;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #707070;w
}

/* 출발 예정 시간: */
.history_menu_center_bottom_letter_5{
  width: 80px;
  height: 24px;
  margin-left: 10px;
  margin-top: -5px;
  font-family: NotoSansCJKkr;
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #707070;
}

/* 11시 30분*/
.history_menu_center_bottom_letter_6{
  width: 232px;
  height: 24px;
  margin-right: 42px;
  margin-top: -24px;
  font-family: NotoSansCJKkr;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #707070;
}

/* 상태: */
.history_menu_center_bottom_letter_7{
  width: 80px;
  height: 24px;
  margin-left: -16px;
  margin-top: -5px;
  font-family: NotoSansCJKkr;
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #707070;
}

/* 픽업대기*/
.history_menu_center_bottom_letter_8{
  width: 232px;
  height: 24px;
  margin-left: -53px;
  margin-top: -24px;
  font-family: NotoSansCJKkr;
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #34cea1;
}

/* 경로 확인 버튼 */
.history_menu_center_check{
	float: left;
	width: 20%;
	margin-left: 18%;
	margin-right: 5%;
	margin-top: 2%;
	height: 30px;
	border: none;
	background: #34cea1;
	color: #fff;
	border-radius: 5px;
	font-family: NotoSansCJKkr;
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: center;
}

/* 상세정보 버튼 */
.history_menu_center_go{
	float: left;
	width: 20%;
	margin-top: 6px;
	margin-left: 13%;
	height: 30px;
	border: none;
	background: #34cea1;
	color: #fff;
	border-radius: 5px;
	font-family: NotoSansCJKkr;
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: center;
}

.history_menu_border{
	width: 100%;
	height: 1px;
	margin-top: 17%;
	background: #d6d6d6;
}

